.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

Debug/
Release/
x64/
x86/
build/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.obj
*.o
*.exe
*.out
*.app
*.dll
*.lib

*.log
*.tlog
*.pdb
*.idb

*.recipe